.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flyer {
  stroke-dasharray: 100px, 100px;
  stroke-dashoffset: 500;
  animation: dash 3s linear infinite;
  fill: none;
  stroke-linecap: round;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.Container {
  position: absolute;
  padding: 8px;
  background: aliceblue;
  color: white;
  display: flex;
  opacity: 0.3;
  align-items: center;
}

.Container > * {
  margin: 8px !important;
}

.Left_top_container {
  left: 0;
  top: 0;
}

.Left_bottom_container {
  left: 0;
  bottom: 0;
}

.City-detail-container {
  position: absolute;
  top: 0;
  right: 0;
  background: aliceblue;
  height: 25%;
  width: 25%;
  padding: 8px;
  opacity: 0.6;
}

.tooltip {
  position: absolute;
  display: none;
  background: aliceblue;
  padding: 8px;
  cursor: default;
  opacity: 0.6;
}
