.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flyer {
  stroke-dasharray: 100px, 100px;
  stroke-dashoffset: 500;
  animation: dash 3s linear infinite;
  fill: none;
  stroke-linecap: round;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.Button-container {
  position: absolute;
  top: 8px;
  right: 8px;
}

.Button-container > button {
  padding: 8px
}

.flyer:hover {
  stroke: red;
  cursor: pointer;
  animation: none;
  stroke-dasharray: 100px, 0;
}

.city {
  fill: yellow;
  stroke: none;
}

.city:hover {
  fill: greenyellow;
  cursor: pointer;
}
