/*<input type="range"/>
Style for range input
*/

.Range_container {
    display: flex;
    align-items: center;
    color: black;
}

.Range_container > * {
    margin: 8px;
}

.Range_container > span {
    width: 40px;
}
